version: "3"
services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: pass123
  test-db:
    image: postgres
    restart: always
    ports:
      - "5437:5432" # 5433 port (since we are using 5432 for our regular db)
    environment:
      POSTGRES_PASSWORD: pass123
